<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PALUGADA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div class="container">
  <div class="row mb-2">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="les2.jpg" class="card-img" alt="responsive-image" width="200" height="250"  text="Thumbnail">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="pb-4 mb-4 border-bottom">
              EDUFIO
            </h2>
            <p class="card-text">Dapatkan layanan guru les privat di Jogja untuk pelajaran apapun, kapanpun, dan dimanapun. Lebih dari 3000 tutor profesional dari EDUFIO siap mengajar ke rumah anda.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h4 class="pb-4 mb-4 border-bottom">
        Deskripsi
      </h4>

      <div class="blog-post">
        <p>EDUFIO adalah jasa les privat di Jogja yang menyediakan layanan les privat guru datang ke rumah. Dengan program les dan pelajaran yang variatif yang dirancang untuk anak-anak hingga dewasa, diajarkan oleh guru-guru privat yang ahli di bidangnya.</p>
        <p>Kami adalah solusi les privat paripurna di Jogja. Kami menawarkan jasa les privat yang membantu setiap siswa untuk menguasai berbagai macam pelajaran mulai dari matematika, bahasa, ilmu pengetahuan, skill IT, dan berbagai pelajaran dan skill lainnya.</p>
        <hr>
        <p><strong>Paket dan Kisaran Harga jasa kami</strong></p>
        <div class="table-responsive">
            <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">tingkat</th>
                        <th scope="col">Kelas</th>
                        <th scope="col">Harga</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">SD</th>
                        <td>1 - 6</td>
                        <td>Rp 195.400 - 215.600/sesi/siswa</td>
                      </tr>
                      <tr>
                        <th scope="row">SMP</th>
                        <td>7 - 9</td>
                        <td>Rp 245.120 - 270.000/sesi/siswa</td>
                      </tr>
                      <tr>
                        <th scope="row">SMA</th>
                        <td>10 - 12</td>
                        <td>Rp 294.880 - 324.400/sesi/siswa</td>
                      </tr>
                    </tbody>
                  </table>
          </div>
    </div><!-- /.blog-post -->

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
            <div class="p-4 mb-3 bg-light rounded">
            <h4 class="font-italic">Hubungi kami</h4>
            <p class="mb-0"><img src="https://img.icons8.com/windows/32/000000/address.png">
               Alamat:</p>
            <p>  Jl. Prof. Dr. Soepomo SH No.1051 kota Yogyakarta</p>
            <p class="mb-0"><img src="https://img.icons8.com/windows/32/000000/phone.png">Telepon:</p>
            <p>(0274) 4290868|0877-8000-9249</p>
            <p class="mb-0"><img src="https://img.icons8.com/windows/32/000000/secured-letter.png">Email:</p>
            <P>adm(at)edufio.com</P>
            <p class="mb-0"><img src="https://img.icons8.com/windows/32/000000/instagram-new.png">Instagram:</p>
            <p>edufioprivat</p>
            <p class="mb-0"><img src="https://img.icons8.com/windows/32/000000/facebook-new.png">Facebook:</p>
            <p>Edufio Les Privat Jogja</p>
      </div>

      <div class="p-4">
          <a href="" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="32" height="32"
            viewBox="0 0 192 192"
            style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,192v-192h192v192z" fill="none"></path><g fill="#ffffff"><g id="surface1"><path d="M54,24c-9.86719,0 -18,8.13281 -18,18v108c0,9.86719 8.13281,18 18,18h102v-144zM54,36h90v96h-90c-2.10937,0 -4.10156,0.44531 -6,1.125v-91.125c0,-3.39844 2.60156,-6 6,-6zM66,54v12h66v-12zM54,144h90v12h-90c-3.39844,0 -6,-2.60156 -6,-6c0,-3.39844 2.60156,-6 6,-6z"></path></g></g></g></svg>
          PESAN</a>
          <a href="privat.html" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
              width="32" height="32"
              viewBox="0 0 192 192"
              style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,192v-192h192v192z" fill="none"></path><g fill="#ffffff"><g id="surface1"><path d="M30,18v156h108v-34.875l-6.5625,-6.375l-5.0625,-5.25h-0.375v34.5h-84v-132h84v34.875l5.4375,-5.625l6.5625,-6.375v-34.875zM140.0625,67.6875l-8.625,8.625l13.6875,13.6875h-73.125v12h73.125l-13.6875,13.6875l8.625,8.625l24,-24l4.125,-4.3125l-4.125,-4.3125z"></path></g></g></g></svg>
          KEMBALI</a>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>